* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #548687;
    text-align: center;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
    color: antiquewhite;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    display: flex; /* ✅ Required */
    height: 70vh;
    width: 60vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.box {
    background-color: white;
    height: 18vh;
    width: 18vh;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 60px;
    color: brown;
    cursor: pointer;
    gap: 5px;
}

.reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: wheat;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

.New-btn{
     padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: wheat;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    color: antiquewhite;
    font-size: 60px;
}

.hide{
    display: none;
}